@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
.container
{
    position: relative;
    display: flex;
    justify-content: space-between;
    filter: url(#gooey);
}
.container .circle
{
    position: relative;
    min-width: 370px;
    height: 370px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}
.container .circle:before
{
    content:  '';
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    z-index: -1;
    filter:blur(50px);
}
.container .circle.circle1, /*bola1*/
.container .circle.circle1:before
{
    background: linear-gradient(90deg, rgb(234, 0, 255), #0ff);
}
.container .circle.circle2, /*bola2*/
.container .circle.circle2:before
{
    background: linear-gradient(90deg, rgb(0, 238, 255), rgb(234, 0, 255));
}
.container .circle.circle1
{
    animation: animate1 10s linear infinite;
}
@keyframes animate1 /*bola1*/
{
        0%
        {
            transform: translateX(0) rotate(0);
        }
        25%
        {
            transform: translateX(150px) rotate(240deg);
        }
        50%{
            transform: translateX(550px) rotate(240deg);
        }
        75%
        {
            transform: translateX(150px) rotate(240deg);
        }
        100%
        {
            transform: translateX(0) rotate(0);
        }
}

.container .circle.circle2
{
    animation: animate2 10s linear infinite;
}
@keyframes animate2 /*bola2*/
{
    0%
    {
        transform: translateX(0) rotate(0);
    }
    25%
    {
        transform: translateX(-150px) rotate(-240deg);
    }
    50%{
        transform: translateX(-550px) rotate(-240deg);
    }
    75%
    {
        transform: translateX(-150px) rotate(-240deg);
    }
    100%
    {
        transform: translateX(0) rotate(0);
    }
}
svg{
    width: 0;
    height: 0;
}
h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30;
    z-index: 10000;
    pointer-events: none;
}